USE [master]
GO
/****** Object:  Database [VPP]    Script Date: 22/09/2026 08:58:24 AM ******/
CREATE DATABASE [VPP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VPP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\VPP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VPP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\VPP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VPP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VPP]
GO
/****** Object:  User [ysv]    Script Date: 22/09/2026 08:58:25 AM ******/
CREATE USER [ysv] FOR LOGIN [ysv] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[PhieuGiaoDich]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuGiaoDich](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SoPhieu] [varchar](50) NOT NULL,
	[LoaiPhieu] [varchar](20) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[NguoiLap] [nvarchar](100) NULL,
	[BoPhanNhanID] [int] NULL,
	[NhanVienNhanID] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TenNguoiNhan] [nvarchar](255) NULL,
	[SoNhanVienCap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGiaoDich]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGiaoDich](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PhieuID] [int] NOT NULL,
	[MaHang] [varchar](50) NOT NULL,
	[SoLuong] [decimal](18, 2) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
	[GhiChuDong] [nvarchar](255) NULL,
	[NgayCap] [date] NULL,
	[NgayThuHoi] [date] NULL,
	[SoThangSuDung] [int] NULL,
	[TrangThaiHang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucNhanVien]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucNhanVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[BoPhanID] [int] NULL,
	[SizeAo] [varchar](10) NULL,
	[SizeGiay] [varchar](10) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[ChucDanh] [nvarchar](100) NULL,
	[NhanTag] [nvarchar](50) NULL,
	[NgayGanTag] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DinhMucCapPhat]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinhMucCapPhat](
	[ChucDanh] [nvarchar](100) NOT NULL,
	[MaHang] [varchar](50) NOT NULL,
	[SoLuongToiDa] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_DinhMucCapPhat] PRIMARY KEY CLUSTERED 
(
	[ChucDanh] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucVatTu]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucVatTu](
	[MaHang] [varchar](50) NOT NULL,
	[TenSanPham] [nvarchar](500) NOT NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[NhomHang] [nvarchar](100) NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[NhaCungCapID] [int] NULL,
	[MinStock] [decimal](18, 2) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[NhanTag] [nvarchar](50) NULL,
	[NgayGanTag] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_TienDoDinhMucNhanVien]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_TienDoDinhMucNhanVien] AS
SELECT
    nv.ID AS NhanVienID,
    nv.MaNV,
    nv.HoTen,
    nv.ChucDanh,
    dm.MaHang,
    v.TenSanPham,
    v.DonViTinh,
    dm.SoLuongToiDa,
    CASE
        WHEN (ISNULL(calc.TongXuat, 0) - ISNULL(calc.TongTra, 0)) < 0 THEN 0
        ELSE (ISNULL(calc.TongXuat, 0) - ISNULL(calc.TongTra, 0))
    END AS DaDung,
    CASE
        WHEN (dm.SoLuongToiDa - (ISNULL(calc.TongXuat, 0) - ISNULL(calc.TongTra, 0))) < 0 THEN 0
        ELSE (dm.SoLuongToiDa - (ISNULL(calc.TongXuat, 0) - ISNULL(calc.TongTra, 0)))
    END AS ConLai,
    CASE
        WHEN dm.SoLuongToiDa > 0 THEN
            CASE
                WHEN ((ISNULL(calc.TongXuat, 0) - ISNULL(calc.TongTra, 0)) / dm.SoLuongToiDa) * 100 < 0 THEN 0
                ELSE ((ISNULL(calc.TongXuat, 0) - ISNULL(calc.TongTra, 0)) / dm.SoLuongToiDa) * 100
            END
        ELSE 0
    END AS PhanTramDaDung
FROM DanhMucNhanVien nv
INNER JOIN DinhMucCapPhat dm ON nv.ChucDanh = dm.ChucDanh
INNER JOIN DanhMucVatTu v ON dm.MaHang = v.MaHang
OUTER APPLY (
    SELECT
        SUM(CASE WHEN p.LoaiPhieu = 'XUAT_CN' THEN ct.SoLuong ELSE 0 END) AS TongXuat,
        SUM(CASE WHEN p.LoaiPhieu = 'THU_HOI' THEN ct.SoLuong ELSE 0 END) AS TongTra
    FROM ChiTietGiaoDich ct
    INNER JOIN PhieuGiaoDich p ON ct.PhieuID = p.ID
    WHERE p.NhanVienNhanID = nv.ID
      AND ct.MaHang = dm.MaHang
      AND MONTH(p.NgayLap) = MONTH(GETDATE())
      AND YEAR(p.NgayLap) = YEAR(GETDATE())
) calc;
GO
/****** Object:  View [dbo].[v_TienDoCuocDoNhanVien]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tiến độ cược đồ: lọc theo mã CD-* (đồng bộ SP + catalog), không phụ thuộc NhomHang / Unicode

CREATE   VIEW [dbo].[v_TienDoCuocDoNhanVien] AS
SELECT
    nv.ID AS NhanVienID,
    nv.MaNV,
    nv.HoTen,
    nv.ChucDanh,
    dm.MaHang,
    v.TenSanPham,
    v.DonViTinh,
    dm.SoLuongToiDa,
    ISNULL(calc.TongCap, 0) AS DaDung,
    CASE
        WHEN (dm.SoLuongToiDa - ISNULL(calc.TongCap, 0)) < 0 THEN 0
        ELSE (dm.SoLuongToiDa - ISNULL(calc.TongCap, 0))
    END AS ConLai,
    CASE
        WHEN dm.SoLuongToiDa > 0 THEN
            CASE
                WHEN (ISNULL(calc.TongCap, 0) / dm.SoLuongToiDa) * 100 < 0 THEN 0
                ELSE (ISNULL(calc.TongCap, 0) / dm.SoLuongToiDa) * 100
            END
        ELSE 0
    END AS PhanTramDaDung
FROM DanhMucNhanVien nv
INNER JOIN DinhMucCapPhat dm ON nv.ChucDanh = dm.ChucDanh
INNER JOIN DanhMucVatTu v ON dm.MaHang = v.MaHang AND v.MaHang LIKE 'CD-%'
OUTER APPLY (
    SELECT SUM(ct.SoLuong) AS TongCap
    FROM ChiTietGiaoDich ct
    INNER JOIN PhieuGiaoDich p ON ct.PhieuID = p.ID
    WHERE p.NhanVienNhanID = nv.ID
      AND ct.MaHang = dm.MaHang
      AND p.LoaiPhieu IN ('XUAT_CUOC_NV', 'XUAT_CUOC_CN')
      AND YEAR(p.NgayLap) = YEAR(GETDATE())
) calc;
GO
/****** Object:  Table [dbo].[DanhMucBoPhan]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucBoPhan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaBoPhan] [varchar](50) NULL,
	[TenBoPhan] [nvarchar](255) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DanhSachNhanVienChiTiet]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_DanhSachNhanVienChiTiet] AS
SELECT
    nv.ID,
    nv.MaNV,
    nv.HoTen,
    nv.ChucDanh,
    nv.BoPhanID,
    bp.MaBoPhan,
    bp.TenBoPhan,
    nv.SizeAo,
    nv.SizeGiay,
    nv.TrangThai,
    nv.NhanTag,
    nv.NgayGanTag
FROM DanhMucNhanVien nv
LEFT JOIN DanhMucBoPhan bp ON nv.BoPhanID = bp.ID;
GO
/****** Object:  Table [dbo].[DanhMucNhaCungCap]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucNhaCungCap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [varchar](50) NULL,
	[TenNCC] [nvarchar](255) NOT NULL,
	[ThongTinLienHe] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MaHang] [varchar](50) NOT NULL,
	[TenSanPham] [nvarchar](250) NOT NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[DonGia] [decimal](18, 2) NULL,
	[SoLuongTon] [int] NULL,
	[NhomHang] [nvarchar](100) NULL,
	[NhaCungCap] [nvarchar](250) NULL,
	[NgayCapNhatCuoi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuBienDong]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuBienDong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaHang] [varchar](50) NOT NULL,
	[PhieuID] [int] NULL,
	[LoaiBienDong] [varchar](20) NOT NULL,
	[SoLuongThayDoi] [decimal](18, 2) NOT NULL,
	[TonKhoSauBienDong] [decimal](18, 2) NULL,
	[NgayGio] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDangNhap]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDangNhap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaDangNhap] [nvarchar](100) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[PhuongThuc] [varchar](20) NOT NULL,
	[KetQua] [varchar](20) NOT NULL,
	[DiaChiIP] [varchar](45) NOT NULL,
	[UserAgent] [nvarchar](512) NULL,
	[NgayGio] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuThayDoi]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuThayDoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BatchId] [uniqueidentifier] NOT NULL,
	[BangDuLieu] [varchar](100) NOT NULL,
	[MaBanGhi] [nvarchar](255) NOT NULL,
	[HanhDong] [varchar](20) NOT NULL,
	[TruongThayDoi] [nvarchar](100) NOT NULL,
	[TenTruong] [nvarchar](150) NULL,
	[GiaTriCu] [nvarchar](max) NULL,
	[GiaTriMoi] [nvarchar](max) NULL,
	[NguoiThayDoi] [nvarchar](100) NULL,
	[NgayGio] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKhoHienTai]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKhoHienTai](
	[MaHang] [varchar](50) NOT NULL,
	[SoLuongTon] [decimal](18, 2) NOT NULL,
	[NgayCapNhatCuoi] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietGiaoDich] ON 

INSERT [dbo].[ChiTietGiaoDich] ([ID], [PhieuID], [MaHang], [SoLuong], [DonGia], [GhiChuDong], [NgayCap], [NgayThuHoi], [SoThangSuDung], [TrangThaiHang]) VALUES (1, 1, N'CD-DP-M', CAST(1.00 AS Decimal(18, 2)), CAST(280000.00 AS Decimal(18, 2)), N'Cáº¥p cÆ°á»£c Ä‘á»“', NULL, NULL, NULL, NULL)
INSERT [dbo].[ChiTietGiaoDich] ([ID], [PhieuID], [MaHang], [SoLuong], [DonGia], [GhiChuDong], [NgayCap], [NgayThuHoi], [SoThangSuDung], [TrangThaiHang]) VALUES (2, 1, N'CD-DTD', CAST(1.00 AS Decimal(18, 2)), CAST(120000.00 AS Decimal(18, 2)), N'Cáº¥p cÆ°á»£c Ä‘á»“', NULL, NULL, NULL, NULL)
INSERT [dbo].[ChiTietGiaoDich] ([ID], [PhieuID], [MaHang], [SoLuong], [DonGia], [GhiChuDong], [NgayCap], [NgayThuHoi], [SoThangSuDung], [TrangThaiHang]) VALUES (3, 1, N'CD-THE', CAST(1.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), N'Cáº¥p cÆ°á»£c Ä‘á»“', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ChiTietGiaoDich] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucBoPhan] ON 

INSERT [dbo].[DanhMucBoPhan] ([ID], [MaBoPhan], [TenBoPhan], [GhiChu]) VALUES (1, N'CS', N'Chất lượng', NULL)
INSERT [dbo].[DanhMucBoPhan] ([ID], [MaBoPhan], [TenBoPhan], [GhiChu]) VALUES (2, N'EQM', N'Thiết bị', NULL)
INSERT [dbo].[DanhMucBoPhan] ([ID], [MaBoPhan], [TenBoPhan], [GhiChu]) VALUES (3, N'HG', N'Hành chính nhân sự', NULL)
SET IDENTITY_INSERT [dbo].[DanhMucBoPhan] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucNhanVien] ON 

INSERT [dbo].[DanhMucNhanVien] ([ID], [MaNV], [HoTen], [BoPhanID], [SizeAo], [SizeGiay], [TrangThai], [ChucDanh], [NhanTag], [NgayGanTag]) VALUES (1, N'NV001', N'Nguyễn Văn An', 3, N'M', N'42', N'Đang làm việc', N'Nhân viên văn phòng', NULL, NULL)
INSERT [dbo].[DanhMucNhanVien] ([ID], [MaNV], [HoTen], [BoPhanID], [SizeAo], [SizeGiay], [TrangThai], [ChucDanh], [NhanTag], [NgayGanTag]) VALUES (2, N'CN001', N'Trần Văn Bình', 7, N'L', N'41', N'Đang làm việc', N'Công nhân sản xuất', NULL, NULL)
INSERT [dbo].[DanhMucNhanVien] ([ID], [MaNV], [HoTen], [BoPhanID], [SizeAo], [SizeGiay], [TrangThai], [ChucDanh], [NhanTag], [NgayGanTag]) VALUES (3, N'112244', N'McLovin', 3, NULL, NULL, N'Đang làm việc', N'Nhân viên văn phòng', N'mới', CAST(N'2026-06-22T01:21:33.717' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhMucNhanVien] OFF
GO
INSERT [dbo].[DanhMucVatTu] ([MaHang], [TenSanPham], [DonViTinh], [NhomHang], [DonGia], [NhaCungCapID], [MinStock], [NgayTao], [HinhAnh], [NhanTag], [NgayGanTag]) VALUES (N'0001', N'cây sắt 12x20', N'Cây', N'Khác', CAST(150000.00 AS Decimal(18, 2)), NULL, CAST(10.00 AS Decimal(18, 2)), CAST(N'2026-06-22T13:40:26.157' AS DateTime), N'/images/vat-tu/uploads/0001-1782110424164.png', N'hàng mới', CAST(N'2026-06-22T06:40:26.207' AS DateTime))
INSERT [dbo].[DanhMucVatTu] ([MaHang], [TenSanPham], [DonViTinh], [NhomHang], [DonGia], [NhaCungCapID], [MinStock], [NgayTao], [HinhAnh], [NhanTag], [NgayGanTag]) VALUES (N'BHLD-AO', N'Áo bảo hộ lao động', N'Cái', N'BHLĐ', CAST(85000.00 AS Decimal(18, 2)), NULL, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-06-18T09:26:02.200' AS DateTime), N'/images/vat-tu/default.svg', NULL, NULL)
INSERT [dbo].[DanhMucVatTu] ([MaHang], [TenSanPham], [DonViTinh], [NhomHang], [DonGia], [NhaCungCapID], [MinStock], [NgayTao], [HinhAnh], [NhanTag], [NgayGanTag]) VALUES (N'BHLD-GANG', N'Găng tay bảo hộ', N'Dôi', N'BHLĐ', CAST(12000.00 AS Decimal(18, 2)), NULL, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-06-18T09:26:02.200' AS DateTime), N'/images/vat-tu/default.svg', NULL, NULL)
GO
INSERT [dbo].[DinhMucCapPhat] ([ChucDanh], [MaHang], [SoLuongToiDa], [GhiChu]) VALUES (N'Công nhân sản xuất', N'CD-AO-CN-L', CAST(1.00 AS Decimal(18, 2)), N'Định mức cược đồ / năm')
INSERT [dbo].[DinhMucCapPhat] ([ChucDanh], [MaHang], [SoLuongToiDa], [GhiChu]) VALUES (N'Công nhân sản xuất', N'CD-CKTU', CAST(1.00 AS Decimal(18, 2)), N'Chìa khóa tủ / năm')
INSERT [dbo].[DinhMucCapPhat] ([ChucDanh], [MaHang], [SoLuongToiDa], [GhiChu]) VALUES (N'Công nhân sản xuất', N'CD-DP-L', CAST(1.00 AS Decimal(18, 2)), N'Áo đồng phục / năm')
GO
SET IDENTITY_INSERT [dbo].[LichSuBienDong] ON 

INSERT [dbo].[LichSuBienDong] ([ID], [MaHang], [PhieuID], [LoaiBienDong], [SoLuongThayDoi], [TonKhoSauBienDong], [NgayGio]) VALUES (33, N'0001', 12, N'TANG', CAST(100.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(N'2026-06-22T13:40:26.203' AS DateTime))
INSERT [dbo].[LichSuBienDong] ([ID], [MaHang], [PhieuID], [LoaiBienDong], [SoLuongThayDoi], [TonKhoSauBienDong], [NgayGio]) VALUES (16, N'BHLD-AO', 5, N'TANG', CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(N'2026-06-18T13:24:07.093' AS DateTime))
INSERT [dbo].[LichSuBienDong] ([ID], [MaHang], [PhieuID], [LoaiBienDong], [SoLuongThayDoi], [TonKhoSauBienDong], [NgayGio]) VALUES (17, N'BHLD-GANG', 5, N'TANG', CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(N'2026-06-18T13:24:07.093' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichSuBienDong] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuDangNhap] ON 

INSERT [dbo].[LichSuDangNhap] ([ID], [MaDangNhap], [HoTen], [PhuongThuc], [KetQua], [DiaChiIP], [UserAgent], [NgayGio]) VALUES (1, N'thukho', N'Hoàng Thoa', N'PIN', N'SUCCESS', N'::ffff:192.168.6.64', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36', CAST(N'2026-06-19T14:00:56.693' AS DateTime))
INSERT [dbo].[LichSuDangNhap] ([ID], [MaDangNhap], [HoTen], [PhuongThuc], [KetQua], [DiaChiIP], [UserAgent], [NgayGio]) VALUES (2, N'thukho', N'Hoàng Thoa', N'PIN', N'SUCCESS', N'::ffff:192.168.6.64', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36', CAST(N'2026-06-19T14:28:55.227' AS DateTime))
INSERT [dbo].[LichSuDangNhap] ([ID], [MaDangNhap], [HoTen], [PhuongThuc], [KetQua], [DiaChiIP], [UserAgent], [NgayGio]) VALUES (3, N'thukho', N'Hoàng Thoa', N'PIN', N'SUCCESS', N'::ffff:192.168.6.64', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36', CAST(N'2026-06-19T14:55:15.713' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichSuDangNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuThayDoi] ON 

INSERT [dbo].[LichSuThayDoi] ([ID], [BatchId], [BangDuLieu], [MaBanGhi], [HanhDong], [TruongThayDoi], [TenTruong], [GiaTriCu], [GiaTriMoi], [NguoiThayDoi], [NgayGio]) VALUES (1, N'14ad57d4-c2f8-4ca3-bd7f-02f1755eea5b', N'DanhMucVatTu', N'CD-DP-S', N'UPDATE', N'hinhAnh', N'Hình ảnh', N'/images/vat-tu/cd-dp.svg', N'/images/vat-tu/uploads/cd-dp-s-1781752339774.png', N'Trần Văn Hùng', CAST(N'2026-06-18T10:12:22.427' AS DateTime))
INSERT [dbo].[LichSuThayDoi] ([ID], [BatchId], [BangDuLieu], [MaBanGhi], [HanhDong], [TruongThayDoi], [TenTruong], [GiaTriCu], [GiaTriMoi], [NguoiThayDoi], [NgayGio]) VALUES (2, N'489da066-bcf1-4f54-8642-c43b696dc7e9', N'DanhMucVatTu', N'CD-DP-M', N'UPDATE', N'hinhAnh', N'Hình ảnh', N'/images/vat-tu/cd-dp.svg', N'/images/vat-tu/uploads/cd-dp-m-1781752348061.png', N'Trần Văn Hùng', CAST(N'2026-06-18T10:12:29.167' AS DateTime))
INSERT [dbo].[LichSuThayDoi] ([ID], [BatchId], [BangDuLieu], [MaBanGhi], [HanhDong], [TruongThayDoi], [TenTruong], [GiaTriCu], [GiaTriMoi], [NguoiThayDoi], [NgayGio]) VALUES (3, N'dd497564-a83f-4099-ac4b-337e9a749dcc', N'DanhMucVatTu', N'CD-DP-L', N'UPDATE', N'hinhAnh', N'Hình ảnh', N'/images/vat-tu/cd-dp.svg', N'/images/vat-tu/uploads/cd-dp-l-1781752354270.png', N'Trần Văn Hùng', CAST(N'2026-06-18T10:12:35.393' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichSuThayDoi] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuGiaoDich] ON 

INSERT [dbo].[PhieuGiaoDich] ([ID], [SoPhieu], [LoaiPhieu], [NgayLap], [NguoiLap], [BoPhanNhanID], [NhanVienNhanID], [GhiChu], [TenNguoiNhan], [SoNhanVienCap]) VALUES (1, N'CD26060001', N'XUAT_CUOC_NV', CAST(N'2026-06-18T09:51:57.680' AS DateTime), N'Thá»§ kho', NULL, 1, N'Cáº¥p Ä‘á»“ tiĂªu chuáº©n nhĂ¢n viĂªn má»›i', N'Nguyễn Văn An', NULL)
INSERT [dbo].[PhieuGiaoDich] ([ID], [SoPhieu], [LoaiPhieu], [NgayLap], [NguoiLap], [BoPhanNhanID], [NhanVienNhanID], [GhiChu], [TenNguoiNhan], [SoNhanVienCap]) VALUES (2, N'CD26060002', N'XUAT_CUOC_CN', CAST(N'2026-06-18T09:51:57.720' AS DateTime), N'Thá»§ kho', NULL, 2, N'Cáº¥p Ä‘á»“ cĂ´ng nhĂ¢n vĂ o chuyá»n', N'Trần Văn Bình', NULL)
INSERT [dbo].[PhieuGiaoDich] ([ID], [SoPhieu], [LoaiPhieu], [NgayLap], [NguoiLap], [BoPhanNhanID], [NhanVienNhanID], [GhiChu], [TenNguoiNhan], [SoNhanVienCap]) VALUES (3, N'CD26060003', N'XUAT_CUOC_PB', CAST(N'2026-06-18T09:51:57.723' AS DateTime), N'Thá»§ kho', 7, NULL, N'Cáº¥p Ä‘á»“ Ä‘áº§u ca â€” 5 cĂ´ng nhĂ¢n', N'Sản xuất', 5)
SET IDENTITY_INSERT [dbo].[PhieuGiaoDich] OFF
GO
INSERT [dbo].[TonKhoHienTai] ([MaHang], [SoLuongTon], [NgayCapNhatCuoi]) VALUES (N'0001', CAST(100.00 AS Decimal(18, 2)), CAST(N'2026-06-22T13:40:26.200' AS DateTime))
INSERT [dbo].[TonKhoHienTai] ([MaHang], [SoLuongTon], [NgayCapNhatCuoi]) VALUES (N'BHLD-AO', CAST(1.00 AS Decimal(18, 2)), CAST(N'2026-06-18T13:24:07.090' AS DateTime))
INSERT [dbo].[TonKhoHienTai] ([MaHang], [SoLuongTon], [NgayCapNhatCuoi]) VALUES (N'BHLD-GANG', CAST(1.00 AS Decimal(18, 2)), CAST(N'2026-06-18T13:24:07.090' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DanhMucB__8CEC11BD522C372D]    Script Date: 22/09/2026 08:58:25 AM ******/
ALTER TABLE [dbo].[DanhMucBoPhan] ADD UNIQUE NONCLUSTERED 
(
	[MaBoPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DanhMucN__3A185DEA31DB87DE]    Script Date: 22/09/2026 08:58:25 AM ******/
ALTER TABLE [dbo].[DanhMucNhaCungCap] ADD UNIQUE NONCLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DanhMucN__2725D70B31ECE1A8]    Script Date: 22/09/2026 08:58:25 AM ******/
ALTER TABLE [dbo].[DanhMucNhanVien] ADD UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LichSuBienDong_MaHang_NgayGio]    Script Date: 22/09/2026 08:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuBienDong_MaHang_NgayGio] ON [dbo].[LichSuBienDong]
(
	[MaHang] ASC,
	[NgayGio] DESC
)
INCLUDE([LoaiBienDong],[SoLuongThayDoi],[TonKhoSauBienDong],[PhieuID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LichSuDangNhap_IP]    Script Date: 22/09/2026 08:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuDangNhap_IP] ON [dbo].[LichSuDangNhap]
(
	[DiaChiIP] ASC,
	[NgayGio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LichSuDangNhap_Ma]    Script Date: 22/09/2026 08:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuDangNhap_Ma] ON [dbo].[LichSuDangNhap]
(
	[MaDangNhap] ASC,
	[NgayGio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuDangNhap_Ngay]    Script Date: 22/09/2026 08:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuDangNhap_Ngay] ON [dbo].[LichSuDangNhap]
(
	[NgayGio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LichSuThayDoi_Bang_Ma]    Script Date: 22/09/2026 08:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuThayDoi_Bang_Ma] ON [dbo].[LichSuThayDoi]
(
	[BangDuLieu] ASC,
	[MaBanGhi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuThayDoi_Batch]    Script Date: 22/09/2026 08:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuThayDoi_Batch] ON [dbo].[LichSuThayDoi]
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuThayDoi_Ngay]    Script Date: 22/09/2026 08:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuThayDoi_Ngay] ON [dbo].[LichSuThayDoi]
(
	[NgayGio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhieuGia__960AAEE3A6D58BA9]    Script Date: 22/09/2026 08:58:25 AM ******/
ALTER TABLE [dbo].[PhieuGiaoDich] ADD UNIQUE NONCLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DanhMucNhanVien] ADD  DEFAULT (N'Đang làm việc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DanhMucVatTu] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[DanhMucVatTu] ADD  DEFAULT ((0)) FOR [MinStock]
GO
ALTER TABLE [dbo].[DanhMucVatTu] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DinhMucCapPhat] ADD  DEFAULT ((0)) FOR [SoLuongToiDa]
GO
ALTER TABLE [dbo].[KHO] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[KHO] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[KHO] ADD  DEFAULT (getdate()) FOR [NgayCapNhatCuoi]
GO
ALTER TABLE [dbo].[LichSuBienDong] ADD  DEFAULT (getdate()) FOR [NgayGio]
GO
ALTER TABLE [dbo].[LichSuDangNhap] ADD  DEFAULT (getdate()) FOR [NgayGio]
GO
ALTER TABLE [dbo].[LichSuThayDoi] ADD  DEFAULT (newid()) FOR [BatchId]
GO
ALTER TABLE [dbo].[LichSuThayDoi] ADD  DEFAULT (getdate()) FOR [NgayGio]
GO
ALTER TABLE [dbo].[PhieuGiaoDich] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[TonKhoHienTai] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[TonKhoHienTai] ADD  DEFAULT (getdate()) FOR [NgayCapNhatCuoi]
GO
ALTER TABLE [dbo].[ChiTietGiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGiaoDich_Phieu] FOREIGN KEY([PhieuID])
REFERENCES [dbo].[PhieuGiaoDich] ([ID])
GO
ALTER TABLE [dbo].[ChiTietGiaoDich] CHECK CONSTRAINT [FK_ChiTietGiaoDich_Phieu]
GO
ALTER TABLE [dbo].[ChiTietGiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGiaoDich_VatTu] FOREIGN KEY([MaHang])
REFERENCES [dbo].[DanhMucVatTu] ([MaHang])
GO
ALTER TABLE [dbo].[ChiTietGiaoDich] CHECK CONSTRAINT [FK_ChiTietGiaoDich_VatTu]
GO
ALTER TABLE [dbo].[DanhMucNhanVien]  WITH CHECK ADD FOREIGN KEY([BoPhanID])
REFERENCES [dbo].[DanhMucBoPhan] ([ID])
GO
ALTER TABLE [dbo].[DanhMucVatTu]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucVatTu_NCC] FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[DanhMucNhaCungCap] ([ID])
GO
ALTER TABLE [dbo].[DanhMucVatTu] CHECK CONSTRAINT [FK_DanhMucVatTu_NCC]
GO
ALTER TABLE [dbo].[LichSuBienDong]  WITH CHECK ADD  CONSTRAINT [FK_LichSuBienDong_Phieu] FOREIGN KEY([PhieuID])
REFERENCES [dbo].[PhieuGiaoDich] ([ID])
GO
ALTER TABLE [dbo].[LichSuBienDong] CHECK CONSTRAINT [FK_LichSuBienDong_Phieu]
GO
ALTER TABLE [dbo].[LichSuBienDong]  WITH CHECK ADD  CONSTRAINT [FK_LichSuBienDong_VatTu] FOREIGN KEY([MaHang])
REFERENCES [dbo].[DanhMucVatTu] ([MaHang])
GO
ALTER TABLE [dbo].[LichSuBienDong] CHECK CONSTRAINT [FK_LichSuBienDong_VatTu]
GO
ALTER TABLE [dbo].[PhieuGiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_PhieuGiaoDich_BoPhan] FOREIGN KEY([BoPhanNhanID])
REFERENCES [dbo].[DanhMucBoPhan] ([ID])
GO
ALTER TABLE [dbo].[PhieuGiaoDich] CHECK CONSTRAINT [FK_PhieuGiaoDich_BoPhan]
GO
ALTER TABLE [dbo].[PhieuGiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_PhieuGiaoDich_NhanVien] FOREIGN KEY([NhanVienNhanID])
REFERENCES [dbo].[DanhMucNhanVien] ([ID])
GO
ALTER TABLE [dbo].[PhieuGiaoDich] CHECK CONSTRAINT [FK_PhieuGiaoDich_NhanVien]
GO
ALTER TABLE [dbo].[TonKhoHienTai]  WITH CHECK ADD  CONSTRAINT [FK_TonKhoHienTai_VatTu] FOREIGN KEY([MaHang])
REFERENCES [dbo].[DanhMucVatTu] ([MaHang])
GO
ALTER TABLE [dbo].[TonKhoHienTai] CHECK CONSTRAINT [FK_TonKhoHienTai_VatTu]
GO
ALTER TABLE [dbo].[LichSuDangNhap]  WITH CHECK ADD  CONSTRAINT [CK_LichSuDangNhap_KetQua] CHECK  (([KetQua]='FAILED' OR [KetQua]='SUCCESS'))
GO
ALTER TABLE [dbo].[LichSuDangNhap] CHECK CONSTRAINT [CK_LichSuDangNhap_KetQua]
GO
ALTER TABLE [dbo].[LichSuDangNhap]  WITH CHECK ADD  CONSTRAINT [CK_LichSuDangNhap_PhuongThuc] CHECK  (([PhuongThuc]='PIN' OR [PhuongThuc]='PASSWORD'))
GO
ALTER TABLE [dbo].[LichSuDangNhap] CHECK CONSTRAINT [CK_LichSuDangNhap_PhuongThuc]
GO
ALTER TABLE [dbo].[LichSuThayDoi]  WITH CHECK ADD  CONSTRAINT [CK_LichSuThayDoi_HanhDong] CHECK  (([HanhDong]='DELETE' OR [HanhDong]='UPDATE' OR [HanhDong]='CREATE'))
GO
ALTER TABLE [dbo].[LichSuThayDoi] CHECK CONSTRAINT [CK_LichSuThayDoi_HanhDong]
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoPhieuCuocDoToanBo]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cập nhật SP cược đồ (từ 31) + đảm bảo trừ tồn
CREATE   PROCEDURE [dbo].[sp_TaoPhieuCuocDoToanBo]
    @SoPhieu VARCHAR(50),
    @LoaiPhieu VARCHAR(20),
    @NguoiLap NVARCHAR(100),
    @HoTenNguoiNhan NVARCHAR(255) = NULL,
    @MaNV VARCHAR(50) = NULL,
    @MaBoPhan VARCHAR(50) = NULL,
    @SoNhanVienCap INT = NULL,
    @GhiChu NVARCHAR(500) = NULL,
    @DanhSachHangJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdPhieuInserted INT;
    DECLARE @BoPhanID INT = NULL;
    DECLARE @TenBoPhan NVARCHAR(255) = NULL;
    DECLARE @NhanVienID INT = NULL;
    DECLARE @ChucDanhNhanVien NVARCHAR(100) = NULL;
    DECLARE @VatTuViPham NVARCHAR(200);
    DECLARE @VatTuHetHang NVARCHAR(200);
    DECLARE @MaHangLoi VARCHAR(50);
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @LineCount INT;
    DECLARE @LedgerCount INT;

    DECLARE @DongHangXuat TABLE (
        MaHang VARCHAR(50),
        SoLuong DECIMAL(18,2)
    );

    BEGIN TRANSACTION;
    BEGIN TRY
        IF @LoaiPhieu NOT IN ('XUAT_CUOC_NV', 'XUAT_CUOC_CN', 'XUAT_CUOC_PB')
            RAISERROR(N'Loại phiếu cược đồ không hợp lệ.', 16, 1);

        INSERT INTO @DongHangXuat (MaHang, SoLuong)
        SELECT MaHang, SoLuong
        FROM OPENJSON(@DanhSachHangJson)
        WITH (
            MaHang VARCHAR(50) '$.MaHang',
            SoLuong DECIMAL(18,2) '$.SoLuong'
        );

        SET @LineCount = (SELECT COUNT(*) FROM @DongHangXuat);

        IF @LoaiPhieu = 'XUAT_CUOC_PB'
        BEGIN
            IF @MaBoPhan IS NULL OR LTRIM(RTRIM(@MaBoPhan)) = ''
                RAISERROR(N'Phiếu bộ phận cần chọn mã bộ phận.', 16, 1);

            IF @SoNhanVienCap IS NULL OR @SoNhanVienCap <= 0
                RAISERROR(N'Vui lòng nhập số lượng nhân viên cần cấp (> 0).', 16, 1);

            SELECT @BoPhanID = ID, @TenBoPhan = TenBoPhan
            FROM DanhMucBoPhan
            WHERE MaBoPhan = LTRIM(RTRIM(@MaBoPhan));

            IF @BoPhanID IS NULL
                RAISERROR(N'Mã bộ phận không hợp lệ.', 16, 1);

            IF @HoTenNguoiNhan IS NULL OR LTRIM(RTRIM(@HoTenNguoiNhan)) = ''
                SET @HoTenNguoiNhan = @TenBoPhan;
        END
        ELSE
        BEGIN
            IF @HoTenNguoiNhan IS NULL OR LTRIM(RTRIM(@HoTenNguoiNhan)) = ''
                RAISERROR(N'Vui lòng nhập họ tên người nhận.', 16, 1);

            IF @MaBoPhan IS NULL OR LTRIM(RTRIM(@MaBoPhan)) = ''
                RAISERROR(N'Phiếu cần chọn bộ phận.', 16, 1);

            SELECT @BoPhanID = ID, @TenBoPhan = TenBoPhan
            FROM DanhMucBoPhan
            WHERE MaBoPhan = LTRIM(RTRIM(@MaBoPhan));

            IF @BoPhanID IS NULL
                RAISERROR(N'Mã bộ phận không hợp lệ.', 16, 1);

            IF @MaNV IS NOT NULL AND LTRIM(RTRIM(@MaNV)) <> ''
                SELECT @NhanVienID = ID, @ChucDanhNhanVien = ChucDanh
                FROM DanhMucNhanVien
                WHERE MaNV = LTRIM(RTRIM(@MaNV));

            IF @NhanVienID IS NOT NULL
            BEGIN
                IF @LoaiPhieu = 'XUAT_CUOC_CN'
                   AND NOT (
                       @ChucDanhNhanVien LIKE N'%công nhân%'
                       OR @ChucDanhNhanVien LIKE N'%Công nhân%'
                       OR @ChucDanhNhanVien LIKE N'%sản xuất%'
                       OR @ChucDanhNhanVien LIKE N'%Sản xuất%'
                   )
                    RAISERROR(N'Phiếu công nhân: mã NV không khớp chức danh công nhân / sản xuất.', 16, 1);

                IF @LoaiPhieu = 'XUAT_CUOC_NV'
                   AND (
                       @ChucDanhNhanVien LIKE N'%công nhân%'
                       OR @ChucDanhNhanVien LIKE N'%Công nhân%'
                       OR @ChucDanhNhanVien LIKE N'%sản xuất%'
                       OR @ChucDanhNhanVien LIKE N'%Sản xuất%'
                   )
                    RAISERROR(N'Phiếu nhân viên: mã NV không khớp chức danh nhân viên.', 16, 1);
            END
        END

        IF EXISTS (SELECT 1 FROM @DongHangXuat WHERE SoLuong <= 0)
            RAISERROR(N'Số lượng cấp phát phải lớn hơn 0!', 16, 1);

        IF @LoaiPhieu = 'XUAT_CUOC_PB'
        BEGIN
            IF EXISTS (SELECT 1 FROM @DongHangXuat WHERE SoLuong <> @SoNhanVienCap)
                RAISERROR(N'Mỗi hạng mục cấp bộ phận phải bằng số nhân viên đã nhập.', 16, 1);
        END

        IF EXISTS (
            SELECT 1 FROM @DongHangXuat d
            LEFT JOIN DanhMucVatTu v ON d.MaHang = v.MaHang
            WHERE v.MaHang IS NULL
        )
        BEGIN
            SELECT TOP 1 @MaHangLoi = d.MaHang
            FROM @DongHangXuat d
            LEFT JOIN DanhMucVatTu v ON d.MaHang = v.MaHang
            WHERE v.MaHang IS NULL;
            RAISERROR(N'Mã hàng [%s] không tồn tại trong danh mục!', 16, 1, @MaHangLoi);
        END

        IF EXISTS (
            SELECT 1 FROM @DongHangXuat d
            INNER JOIN DanhMucVatTu v ON d.MaHang = v.MaHang
            WHERE v.MaHang NOT LIKE 'CD-%'
        )
            RAISERROR(N'Phiếu cược đồ chỉ được cấp hàng thuộc nhóm Cược đồ.', 16, 1);

        IF @NhanVienID IS NOT NULL
        BEGIN
            IF EXISTS (
                SELECT 1
                FROM @DongHangXuat src
                INNER JOIN DinhMucCapPhat dm ON dm.ChucDanh = @ChucDanhNhanVien AND dm.MaHang = src.MaHang
                OUTER APPLY (
                    SELECT ISNULL(SUM(ct.SoLuong), 0) AS DaCapNam
                    FROM ChiTietGiaoDich ct
                    INNER JOIN PhieuGiaoDich p ON ct.PhieuID = p.ID
                    WHERE p.NhanVienNhanID = @NhanVienID
                      AND ct.MaHang = src.MaHang
                      AND p.LoaiPhieu IN ('XUAT_CUOC_NV', 'XUAT_CUOC_CN')
                      AND YEAR(p.NgayLap) = YEAR(GETDATE())
                ) current_year
                WHERE (ISNULL(current_year.DaCapNam, 0) + src.SoLuong) > dm.SoLuongToiDa
            )
            BEGIN
                SELECT TOP 1 @VatTuViPham = v.TenSanPham
                FROM @DongHangXuat src
                INNER JOIN DinhMucCapPhat dm ON dm.ChucDanh = @ChucDanhNhanVien AND dm.MaHang = src.MaHang
                INNER JOIN DanhMucVatTu v ON src.MaHang = v.MaHang
                OUTER APPLY (
                    SELECT ISNULL(SUM(ct.SoLuong), 0) AS DaCapNam
                    FROM ChiTietGiaoDich ct
                    INNER JOIN PhieuGiaoDich p ON ct.PhieuID = p.ID
                    WHERE p.NhanVienNhanID = @NhanVienID
                      AND ct.MaHang = src.MaHang
                      AND p.LoaiPhieu IN ('XUAT_CUOC_NV', 'XUAT_CUOC_CN')
                      AND YEAR(p.NgayLap) = YEAR(GETDATE())
                ) current_year
                WHERE (ISNULL(current_year.DaCapNam, 0) + src.SoLuong) > dm.SoLuongToiDa;

                RAISERROR(N'Vượt định mức cược đồ năm! [%s]', 16, 1, @VatTuViPham);
            END
        END

        INSERT INTO TonKhoHienTai (MaHang, SoLuongTon, NgayCapNhatCuoi)
        SELECT src.MaHang, 0, GETDATE()
        FROM @DongHangXuat src
        WHERE NOT EXISTS (SELECT 1 FROM TonKhoHienTai tk WHERE tk.MaHang = src.MaHang);

        IF EXISTS (
            SELECT 1 FROM @DongHangXuat src
            INNER JOIN TonKhoHienTai tk ON src.MaHang = tk.MaHang
            WHERE src.SoLuong > tk.SoLuongTon
        )
        BEGIN
            SELECT TOP 1 @VatTuHetHang = v.TenSanPham
            FROM @DongHangXuat src
            INNER JOIN TonKhoHienTai tk ON src.MaHang = tk.MaHang
            INNER JOIN DanhMucVatTu v ON src.MaHang = v.MaHang
            WHERE src.SoLuong > tk.SoLuongTon;
            RAISERROR(N'Không đủ tồn kho! [%s]', 16, 1, @VatTuHetHang);
        END

        INSERT INTO PhieuGiaoDich (
            SoPhieu, LoaiPhieu, NgayLap, NguoiLap,
            BoPhanNhanID, NhanVienNhanID, TenNguoiNhan, SoNhanVienCap, GhiChu
        )
        VALUES (
            @SoPhieu, @LoaiPhieu, GETDATE(), @NguoiLap,
            @BoPhanID, @NhanVienID,
            CASE WHEN @HoTenNguoiNhan IS NOT NULL THEN LTRIM(RTRIM(@HoTenNguoiNhan)) ELSE NULL END,
            CASE WHEN @LoaiPhieu = 'XUAT_CUOC_PB' THEN @SoNhanVienCap ELSE NULL END,
            @GhiChu
        );

        SET @IdPhieuInserted = SCOPE_IDENTITY();

        INSERT INTO ChiTietGiaoDich (PhieuID, MaHang, SoLuong, DonGia, GhiChuDong)
        SELECT
            @IdPhieuInserted,
            src.MaHang,
            src.SoLuong,
            v.DonGia,
            CASE
                WHEN @LoaiPhieu = 'XUAT_CUOC_PB'
                    THEN N'Cấp bộ phận · ' + CAST(@SoNhanVienCap AS NVARCHAR(12)) + N' NV'
                ELSE N'Cấp cược đồ'
            END
        FROM @DongHangXuat src
        INNER JOIN DanhMucVatTu v ON src.MaHang = v.MaHang;

        UPDATE tk
        SET tk.SoLuongTon = tk.SoLuongTon - src.SoLuong,
            tk.NgayCapNhatCuoi = GETDATE()
        FROM TonKhoHienTai tk
        INNER JOIN @DongHangXuat src ON tk.MaHang = src.MaHang;

        INSERT INTO LichSuBienDong (MaHang, PhieuID, LoaiBienDong, SoLuongThayDoi, TonKhoSauBienDong, NgayGio)
        SELECT xh.MaHang, @IdPhieuInserted, 'GIAM', xh.SoLuong, tk.SoLuongTon, GETDATE()
        FROM @DongHangXuat xh
        INNER JOIN TonKhoHienTai tk ON xh.MaHang = tk.MaHang;

        SET @LedgerCount = (
            SELECT COUNT(*)
            FROM LichSuBienDong
            WHERE PhieuID = @IdPhieuInserted AND LoaiBienDong = 'GIAM'
        );

        IF @LedgerCount <> @LineCount
            RAISERROR(N'Lỗi trừ tồn kho — chưa ghi đủ biến động cược đồ.', 16, 1);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SET @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoPhieuKiemKeToanBo]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [dbo].[sp_TaoPhieuKiemKeToanBo]
    @SoPhieu VARCHAR(50),
    @NguoiLap NVARCHAR(100),
    @GhiChu NVARCHAR(500) = NULL,
    @DanhSachHangJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdPhieuInserted INT;
    DECLARE @MaHangLoi VARCHAR(50);
    DECLARE @ErrorMessage NVARCHAR(4000);

    DECLARE @DongKiemKe TABLE (
        MaHang VARCHAR(50),
        SoLuongHeThong DECIMAL(18, 2),
        SoLuongThucTe DECIMAL(18, 2),
        ChenhLech DECIMAL(18, 2),
        DonGia DECIMAL(18, 2),
        GhiChuDong NVARCHAR(255)
    );

    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO @DongKiemKe (MaHang, SoLuongHeThong, SoLuongThucTe, ChenhLech, DonGia, GhiChuDong)
        SELECT
            src.MaHang,
            ISNULL(tk.SoLuongTon, 0),
            src.SoLuongThucTe,
            src.SoLuongThucTe - ISNULL(tk.SoLuongTon, 0),
            v.DonGia,
            COALESCE(NULLIF(LTRIM(RTRIM(src.GhiChu)), N''), N'Kiá»ƒm kĂª kho')
        FROM OPENJSON(@DanhSachHangJson)
        WITH (
            MaHang VARCHAR(50) '$.MaHang',
            SoLuongThucTe DECIMAL(18, 2) '$.SoLuongThucTe',
            GhiChu NVARCHAR(255) '$.GhiChu'
        ) src
        INNER JOIN DanhMucVatTu v ON v.MaHang = src.MaHang
        LEFT JOIN TonKhoHienTai tk ON tk.MaHang = src.MaHang;

        IF EXISTS (
            SELECT 1 FROM OPENJSON(@DanhSachHangJson)
            WITH (MaHang VARCHAR(50) '$.MaHang') src
            LEFT JOIN DanhMucVatTu v ON v.MaHang = src.MaHang
            WHERE v.MaHang IS NULL
        )
        BEGIN
            SELECT TOP 1 @MaHangLoi = src.MaHang
            FROM OPENJSON(@DanhSachHangJson)
            WITH (MaHang VARCHAR(50) '$.MaHang') src
            LEFT JOIN DanhMucVatTu v ON v.MaHang = src.MaHang
            WHERE v.MaHang IS NULL;
            RAISERROR(N'MĂ£ hĂ ng [%s] khĂ´ng tá»“n táº¡i trong danh má»¥c!', 16, 1, @MaHangLoi);
        END

        IF EXISTS (SELECT 1 FROM @DongKiemKe WHERE SoLuongThucTe < 0)
            RAISERROR(N'Sá»‘ lÆ°á»£ng thá»±c táº¿ khĂ´ng Ä‘Æ°á»£c Ă¢m.', 16, 1);

        IF NOT EXISTS (SELECT 1 FROM @DongKiemKe WHERE ChenhLech <> 0)
            RAISERROR(N'KhĂ´ng cĂ³ chĂªnh lá»‡ch kiá»ƒm kĂª â€” khĂ´ng táº¡o phiáº¿u Ä‘iá»u chá»‰nh.', 16, 1);

        INSERT INTO PhieuGiaoDich (SoPhieu, LoaiPhieu, NgayLap, NguoiLap, GhiChu, BoPhanNhanID, NhanVienNhanID)
        VALUES (@SoPhieu, 'KIEM_KE', GETDATE(), @NguoiLap, @GhiChu, NULL, NULL);

        SET @IdPhieuInserted = SCOPE_IDENTITY();

        INSERT INTO ChiTietGiaoDich (PhieuID, MaHang, SoLuong, DonGia, GhiChuDong)
        SELECT
            @IdPhieuInserted,
            d.MaHang,
            ABS(d.ChenhLech),
            d.DonGia,
            d.GhiChuDong + N' Â· HT ' + CAST(d.SoLuongHeThong AS NVARCHAR(24))
                + N' â†’ TT ' + CAST(d.SoLuongThucTe AS NVARCHAR(24))
        FROM @DongKiemKe d
        WHERE d.ChenhLech <> 0;

        MERGE TonKhoHienTai AS target
        USING (SELECT MaHang, SoLuongThucTe FROM @DongKiemKe WHERE ChenhLech <> 0) AS source
        ON target.MaHang = source.MaHang
        WHEN MATCHED THEN
            UPDATE SET
                target.SoLuongTon = source.SoLuongThucTe,
                target.NgayCapNhatCuoi = GETDATE()
        WHEN NOT MATCHED THEN
            INSERT (MaHang, SoLuongTon, NgayCapNhatCuoi)
            VALUES (source.MaHang, source.SoLuongThucTe, GETDATE());

        INSERT INTO LichSuBienDong (MaHang, PhieuID, LoaiBienDong, SoLuongThayDoi, TonKhoSauBienDong, NgayGio)
        SELECT
            d.MaHang,
            @IdPhieuInserted,
            CASE WHEN d.ChenhLech > 0 THEN 'TANG' ELSE 'GIAM' END,
            ABS(d.ChenhLech),
            d.SoLuongThucTe,
            GETDATE()
        FROM @DongKiemKe d
        WHERE d.ChenhLech <> 0;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SET @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TaoPhieuNhapKho]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- 1. PROC: TẠO PHIẾU NHẬP KHO VÀ TỰ ĐỘNG CỘNG TỒN (NHAP)
-- ==========================================================================================
CREATE PROCEDURE [dbo].[sp_TaoPhieuNhapKho]
    @SoPhieu VARCHAR(50),
    @NguoiLap NVARCHAR(100),
    @GhiChu NVARCHAR(500),
    @MaHang VARCHAR(50),
    @SoLuong DECIMAL(18, 2),
    @DonGia DECIMAL(18, 2)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Khởi tạo Transaction để bảo vệ toàn vẹn dữ liệu
    BEGIN TRANSACTION;
    BEGIN TRY
        
        -- 1. Kiểm tra xem mặt hàng có tồn tại trong danh mục không
        IF NOT EXISTS (SELECT 1 FROM DanhMucVatTu WHERE MaHang = @MaHang)
        BEGIN
            RAISERROR(N'Mã hàng %s không tồn tại trong danh mục!', 16, 1, @MaHang);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2. Kiểm tra/Tạo Header Phiếu Giao Dịch nếu chưa có
        DECLARE @PhieuID INT;
        SELECT @PhieuID = ID FROM PhieuGiaoDich WHERE SoPhieu = @SoPhieu;
        
        IF @PhieuID IS NULL
        BEGIN
            INSERT INTO PhieuGiaoDich (SoPhieu, LoaiPhieu, NgayLap, NguoiLap, GhiChu)
            VALUES (@SoPhieu, 'NHAP', GETDATE(), @NguoiLap, @GhiChu);
            
            SET @PhieuID = SCOPE_IDENTITY();
        END

        -- 3. Thêm vào bảng Chi Tiết Giao Dịch
        INSERT INTO ChiTietGiaoDich (PhieuID, MaHang, SoLuong, DonGia, GhiChuDong)
        VALUES (@PhieuID, @MaHang, @SoLuong, @DonGia, N'Nhập kho');

        -- 4. Cập nhật Số Lượng Tồn trong bảng TonKhoHienTai
        IF EXISTS (SELECT 1 FROM TonKhoHienTai WHERE MaHang = @MaHang)
        BEGIN
            UPDATE TonKhoHienTai
            SET SoLuongTon = SoLuongTon + @SoLuong,
                NgayCapNhatCuoi = GETDATE()
            WHERE MaHang = @MaHang;
        END
        ELSE
        BEGIN
            INSERT INTO TonKhoHienTai (MaHang, SoLuongTon, NgayCapNhatCuoi)
            VALUES (@MaHang, @SoLuong, GETDATE());
        END

        -- 5. Ghi nhận số tồn sau khi biến động để làm báo cáo lịch sử
        DECLARE @TonSauBienDong DECIMAL(18,2);
        SELECT @TonSauBienDong = SoLuongTon FROM TonKhoHienTai WHERE MaHang = @MaHang;

        -- 6. Ghi log vào bảng LichSuBienDong
        INSERT INTO LichSuBienDong (MaHang, PhieuID, LoaiBienDong, SoLuongThayDoi, TonKhoSauBienDong, NgayGio)
        VALUES (@MaHang, @PhieuID, 'TANG', @SoLuong, @TonSauBienDong, GETDATE());

        -- Hoàn tất thành công
        COMMIT TRANSACTION;
        PRINT N'Tạo phiếu nhập và cập nhật kho thành công!';
        
    END TRY
    BEGIN CATCH
        -- Nếu xảy ra bất kỳ lỗi gì, quay xe (Hủy bỏ tất cả các bước trên)
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoPhieuNhapKhoToanBo]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TaoPhieuNhapKhoToanBo]
    @SoPhieu VARCHAR(50),
    @NguoiLap NVARCHAR(100),
    @GhiChu NVARCHAR(500),
    @DanhSachHangJson NVARCHAR(MAX) -- Nhận mảng JSON từ giao diện web
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @IdPhieuInserted INT;

    -- Bảng tạm chứa danh sách hàng bóc tách từ JSON nhập kho
    DECLARE @DongHangNhap TABLE (
        MaHang VARCHAR(50),
        SoLuong DECIMAL(18,2),
        DonGiaNhap DECIMAL(18,2)
    );

    BEGIN TRANSACTION;
    BEGIN TRY
        
        -- 1. Đọc dữ liệu JSON vào bảng tạm
        INSERT INTO @DongHangNhap (MaHang, SoLuong, DonGiaNhap)
        SELECT 
            MaHang,
            SoLuong,
            DonGia
        FROM OPENJSON(@DanhSachHangJson)
        WITH (
            MaHang VARCHAR(50) '$.MaHang',
            SoLuong DECIMAL(18,2) '$.SoLuong',
            DonGia DECIMAL(18,2) '$.DonGia'
        );

        -- 2. Kiểm tra xem có mã hàng nào lạ không có trong danh mục không
        IF EXISTS (
            SELECT 1 FROM @DongHangNhap d
            LEFT JOIN DanhMucVatTu v ON d.MaHang = v.MaHang
            WHERE v.MaHang IS NULL
        )
        BEGIN
            DECLARE @MaHangLoi VARCHAR(50);
            SELECT TOP 1 @MaHangLoi = d.MaHang FROM @DongHangNhap d
            LEFT JOIN DanhMucVatTu v ON d.MaHang = v.MaHang WHERE v.MaHang IS NULL;

            RAISERROR(N'Mã hàng [%s] không tồn tại trong danh mục hệ thống. Không thể nhập kho!', 16, 1, @MaHangLoi);
        END

        -- 3. Tạo Header cho Phiếu Giao Dịch (Loại phiếu: NHAP)
        INSERT INTO PhieuGiaoDich (SoPhieu, LoaiPhieu, NgayLap, NguoiLap, GhiChu, BoPhanNhanID, NhanVienNhanID)
        VALUES (@SoPhieu, 'NHAP', GETDATE(), @NguoiLap, @GhiChu, NULL, NULL);
        
        SET @IdPhieuInserted = SCOPE_IDENTITY();

        -- 4. Ghi Chi Tiết Giao Dịch
        INSERT INTO ChiTietGiaoDich (PhieuID, MaHang, SoLuong, DonGia, GhiChuDong)
        SELECT @IdPhieuInserted, MaHang, SoLuong, DonGiaNhap, N'Nhập kho bổ sung số lượng'
        FROM @DongHangNhap;

        -- 5. Cập nhật số lượng tồn (Sử dụng MERGE để tự động INSERT mới hoặc UPDATE cộng dồn)
        MERGE TonKhoHienTai AS target
        USING @DongHangNhap AS source
        ON (target.MaHang = source.MaHang)
        WHEN MATCHED THEN
            UPDATE SET 
                target.SoLuongTon = target.SoLuongTon + source.SoLuong,
                target.NgayCapNhatCuoi = GETDATE()
        WHEN NOT MATCHED THEN
            INSERT (MaHang, SoLuongTon, NgayCapNhatCuoi)
            VALUES (source.MaHang, source.SoLuong, GETDATE());

        -- 6. Ghi nhận log Lịch sử biến động (Loại biến động: TANG)
        INSERT INTO LichSuBienDong (MaHang, PhieuID, LoaiBienDong, SoLuongThayDoi, TonKhoSauBienDong, NgayGio)
        SELECT 
            dn.MaHang, 
            @IdPhieuInserted, 
            'TANG', 
            dn.SoLuong, 
            tk.SoLuongTon, 
            GETDATE()
        FROM @DongHangNhap dn
        INNER JOIN TonKhoHienTai tk ON dn.MaHang = tk.MaHang;

        -- Thành công toàn bộ
        COMMIT TRANSACTION;
        PRINT N'Xử lý phiếu nhập kho hàng loạt thành công!';
        
    END TRY
    BEGIN CATCH
        -- Thất bại bất kỳ dòng nào -> Quay xe toàn bộ
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoPhieuThuHoiBhld]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [dbo].[sp_TaoPhieuThuHoiBhld]
    @SoPhieu VARCHAR(50),
    @NguoiLap NVARCHAR(100),
    @MaNV VARCHAR(50) = NULL,
    @MaBoPhan VARCHAR(50) = NULL,
    @HoTenNguoiTra NVARCHAR(255) = NULL,
    @GhiChu NVARCHAR(500) = NULL,
    @DanhSachHangJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdPhieuInserted INT;
    DECLARE @NhanVienID INT = NULL;
    DECLARE @BoPhanID INT = NULL;
    DECLARE @BhldTag NVARCHAR(50) =
        NCHAR(0x0111) + NCHAR(0x1ED3) + N' tr' + NCHAR(0x1EA3) + N' l' + NCHAR(0x1EA1) + N'i';
    DECLARE @BhldGhiChu NVARCHAR(200) =
        N'Thu h' + NCHAR(0x1ED3) + N'i v' + NCHAR(0x00EA)
        + N' kho ' + NCHAR(0x00B7) + N' ' + @BhldTag;

    DECLARE @DongHang TABLE (
        MaHang VARCHAR(50),
        SoLuong DECIMAL(18,2),
        DonGia DECIMAL(18,2)
    );

    BEGIN TRANSACTION;
    BEGIN TRY
        IF @MaNV IS NULL OR LTRIM(RTRIM(@MaNV)) = ''
            RAISERROR(N'Phiáº¿u thu há»“i cáº§n mĂ£ nhĂ¢n viĂªn tráº£ Ä‘á»“.', 16, 1);

        IF @HoTenNguoiTra IS NULL OR LTRIM(RTRIM(@HoTenNguoiTra)) = ''
            RAISERROR(N'Phiáº¿u thu há»“i cáº§n há» tĂªn nhĂ¢n viĂªn tráº£ Ä‘á»“.', 16, 1);

        SELECT @NhanVienID = nv.ID, @BoPhanID = nv.BoPhanID
        FROM DanhMucNhanVien nv
        WHERE nv.MaNV = LTRIM(RTRIM(@MaNV));

        IF @MaBoPhan IS NOT NULL AND LTRIM(RTRIM(@MaBoPhan)) <> ''
        BEGIN
            SELECT @BoPhanID = ID
            FROM DanhMucBoPhan
            WHERE MaBoPhan = LTRIM(RTRIM(@MaBoPhan));

            IF @BoPhanID IS NULL
                RAISERROR(N'MĂ£ bá»™ pháº­n khĂ´ng há»£p lá»‡.', 16, 1);
        END

        INSERT INTO @DongHang (MaHang, SoLuong, DonGia)
        SELECT j.MaHang, j.SoLuong, ISNULL(j.DonGia, v.DonGia)
        FROM OPENJSON(@DanhSachHangJson)
        WITH (
            MaHang VARCHAR(50) '$.MaHang',
            SoLuong DECIMAL(18,2) '$.SoLuong',
            DonGia DECIMAL(18,2) '$.DonGia'
        ) j
        INNER JOIN DanhMucVatTu v ON j.MaHang = v.MaHang;

        IF (SELECT COUNT(*) FROM OPENJSON(@DanhSachHangJson)) <> (SELECT COUNT(*) FROM @DongHang)
            RAISERROR(N'CĂ³ mĂ£ hĂ ng khĂ´ng tá»“n táº¡i trong danh má»¥c kho.', 16, 1);

        IF NOT EXISTS (SELECT 1 FROM @DongHang)
            RAISERROR(N'Phiáº¿u cáº§n Ă­t nháº¥t má»™t dĂ²ng hĂ ng.', 16, 1);

        IF EXISTS (SELECT 1 FROM @DongHang WHERE SoLuong <= 0)
            RAISERROR(N'Sá»‘ lÆ°á»£ng thu há»“i pháº£i lá»›n hÆ¡n 0.', 16, 1);

        IF EXISTS (SELECT 1 FROM @DongHang WHERE MaHang NOT LIKE 'CD-%')
            RAISERROR(N'Thu há»“i chá»‰ nháº­n hĂ ng Ä‘á»“ng phá»¥c trong kho (mĂ£ CD-*).', 16, 1);

        INSERT INTO PhieuGiaoDich (
            SoPhieu, LoaiPhieu, NgayLap, NguoiLap,
            BoPhanNhanID, NhanVienNhanID, TenNguoiNhan, GhiChu
        )
        VALUES (
            @SoPhieu, 'THU_HOI_BHLD', GETDATE(), @NguoiLap,
            @BoPhanID, @NhanVienID,
            LTRIM(RTRIM(@HoTenNguoiTra)),
            @GhiChu
        );

        SET @IdPhieuInserted = SCOPE_IDENTITY();

        INSERT INTO ChiTietGiaoDich (
            PhieuID, MaHang, SoLuong, DonGia, GhiChuDong,
            NgayCap, NgayThuHoi, SoThangSuDung, TrangThaiHang
        )
        SELECT
            @IdPhieuInserted,
            d.MaHang,
            d.SoLuong,
            d.DonGia,
            @BhldGhiChu,
            NULL,
            CAST(GETDATE() AS DATE),
            NULL,
            @BhldTag
        FROM @DongHang d;

        MERGE TonKhoHienTai AS target
        USING (
            SELECT MaHang, SUM(SoLuong) AS TongThuHoi
            FROM @DongHang
            GROUP BY MaHang
        ) AS source
        ON (target.MaHang = source.MaHang)
        WHEN MATCHED THEN
            UPDATE SET
                target.SoLuongTon = target.SoLuongTon + source.TongThuHoi,
                target.NgayCapNhatCuoi = GETDATE()
        WHEN NOT MATCHED THEN
            INSERT (MaHang, SoLuongTon, NgayCapNhatCuoi)
            VALUES (source.MaHang, source.TongThuHoi, GETDATE());

        INSERT INTO LichSuBienDong (MaHang, PhieuID, LoaiBienDong, SoLuongThayDoi, TonKhoSauBienDong, NgayGio)
        SELECT
            d.MaHang,
            @IdPhieuInserted,
            'TANG',
            d.SoLuong,
            tk.SoLuongTon,
            GETDATE()
        FROM @DongHang d
        INNER JOIN TonKhoHienTai tk ON d.MaHang = tk.MaHang;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TaoPhieuThuHoiKho]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_TaoPhieuThuHoiKho]
    @SoPhieu VARCHAR(50),
    @NguoiLap NVARCHAR(100),
    @MaBoPhan VARCHAR(50) = NULL,
    @MaNV VARCHAR(50) = NULL,
    @GhiChu NVARCHAR(500),
    @DanhSachHangJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdPhieuInserted INT;
    DECLARE @BoPhanID INT = NULL;
    DECLARE @NhanVienID INT = NULL;

    DECLARE @DongHangThuHoi TABLE (
        MaHang VARCHAR(50),
        SoLuong DECIMAL(18,2),
        DonGiaThuHoi DECIMAL(18,2)
    );

    BEGIN TRANSACTION;
    BEGIN TRY
        IF @MaBoPhan IS NOT NULL
            SELECT @BoPhanID = ID FROM DanhMucBoPhan WHERE MaBoPhan = @MaBoPhan;

        IF @MaNV IS NOT NULL
            SELECT @NhanVienID = ID FROM DanhMucNhanVien WHERE MaNV = @MaNV;

        INSERT INTO @DongHangThuHoi (MaHang, SoLuong, DonGiaThuHoi)
        SELECT
            j.MaHang,
            j.SoLuong,
            v.DonGia
        FROM OPENJSON(@DanhSachHangJson)
        WITH (
            MaHang VARCHAR(50) '$.MaHang',
            SoLuong DECIMAL(18,2) '$.SoLuong'
        ) j
        INNER JOIN DanhMucVatTu v ON j.MaHang = v.MaHang;

        IF (SELECT COUNT(*) FROM OPENJSON(@DanhSachHangJson)) <> (SELECT COUNT(*) FROM @DongHangThuHoi)
        BEGIN
            RAISERROR(N'Có chứa mã hàng không tồn tại trong danh mục hệ thống!', 16, 1);
        END

        IF EXISTS (SELECT 1 FROM @DongHangThuHoi WHERE SoLuong <= 0)
        BEGIN
            RAISERROR(N'Số lượng thu hồi của vật tư phải lớn hơn 0!', 16, 1);
        END

        INSERT INTO PhieuGiaoDich (SoPhieu, LoaiPhieu, NgayLap, NguoiLap, BoPhanNhanID, NhanVienNhanID, GhiChu)
        VALUES (@SoPhieu, 'THU_HOI', GETDATE(), @NguoiLap, @BoPhanID, @NhanVienID, @GhiChu);

        SET @IdPhieuInserted = SCOPE_IDENTITY();

        INSERT INTO ChiTietGiaoDich (PhieuID, MaHang, SoLuong, DonGia, GhiChuDong)
        SELECT @IdPhieuInserted, MaHang, SoLuong, DonGiaThuHoi, N'Thu hồi vật tư hoàn kho'
        FROM @DongHangThuHoi;

        MERGE TonKhoHienTai AS target
        USING (
            SELECT MaHang, SUM(SoLuong) AS TongThuHoi
            FROM @DongHangThuHoi
            GROUP BY MaHang
        ) AS source
        ON (target.MaHang = source.MaHang)
        WHEN MATCHED THEN
            UPDATE SET
                target.SoLuongTon = target.SoLuongTon + source.TongThuHoi,
                target.NgayCapNhatCuoi = GETDATE()
        WHEN NOT MATCHED THEN
            INSERT (MaHang, SoLuongTon, NgayCapNhatCuoi)
            VALUES (source.MaHang, source.TongThuHoi, GETDATE());

        INSERT INTO LichSuBienDong (MaHang, PhieuID, LoaiBienDong, SoLuongThayDoi, TonKhoSauBienDong, NgayGio)
        SELECT
            th.MaHang,
            @IdPhieuInserted,
            'TANG',
            th.SoLuong,
            tk.SoLuongTon,
            GETDATE()
        FROM @DongHangThuHoi th
        INNER JOIN TonKhoHienTai tk ON th.MaHang = tk.MaHang;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoPhieuXuatKho]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TaoPhieuXuatKho]
    @SoPhieu VARCHAR(50),
    @LoaiPhieu VARCHAR(20),      -- 'XUAT_CN' hoặc 'XUAT_PB'
    @NguoiLap NVARCHAR(100),
    @MaBoPhan VARCHAR(50) = NULL, -- Điền nếu xuất cho Phòng Ban
    @MaNV VARCHAR(50) = NULL,     -- Điền nếu xuất cho Cá Nhân
    @GhiChu NVARCHAR(500),
    @MaHang VARCHAR(50),
    @SoLuong DECIMAL(18, 2)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    BEGIN TRY
        
        -- 1. Lấy thông tin ID phòng ban hoặc nhân viên từ mã truyền vào
        DECLARE @BoPhanID INT = NULL;
        DECLARE @NhanVienID INT = NULL;
        DECLARE @DonGiaXuat DECIMAL(18,2) = 0;

        IF @MaBoPhan IS NOT NULL
            SELECT @BoPhanID = ID FROM DanhMucBoPhan WHERE MaBoPhan = @MaBoPhan;
            
        IF @MaNV IS NOT NULL
            SELECT @NhanVienID = ID FROM DanhMucNhanVien WHERE MaNV = @MaNV;

        -- 2. Lấy đơn giá chuẩn hiện tại từ danh mục vật tư để xuất kho
        SELECT @DonGiaXuat = DonGia FROM DanhMucVatTu WHERE MaHang = @MaHang;

        IF @DonGiaXuat IS NULL
        BEGIN
            RAISERROR(N'Mã hàng %s không tồn tại trong danh mục!', 16, 1, @MaHang);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 3. KIỂM TRA TỒN KHO: Có đủ hàng để xuất không?
        DECLARE @TonKhoHienTai DECIMAL(18,2) = 0;
        SELECT @TonKhoHienTai = SoLuongTon FROM TonKhoHienTai WHERE MaHang = @MaHang;

        IF @TonKhoHienTai IS NULL OR @TonKhoHienTai < @SoLuong
        BEGIN
            -- [SỬA LỖI TẠI ĐÂY]: Chuyển đổi DECIMAL sang NVARCHAR trước khi đưa vào RAISERROR
            DECLARE @TonKhoStr NVARCHAR(50) = COALESCE(CAST(@TonKhoHienTai AS NVARCHAR(50)), N'0');

            RAISERROR(N'Không đủ hàng xuất kho! Mặt hàng %s hiện chỉ còn tồn: %s', 16, 1, @MaHang, @TonKhoStr);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 4. Kiểm tra/Tạo Header Phiếu Xuất nếu chưa có
        DECLARE @PhieuID INT;
        SELECT @PhieuID = ID FROM PhieuGiaoDich WHERE SoPhieu = @SoPhieu;
        
        IF @PhieuID IS NULL
        BEGIN
            INSERT INTO PhieuGiaoDich (SoPhieu, LoaiPhieu, NgayLap, NguoiLap, BoPhanNhanID, NhanVienNhanID, GhiChu)
            VALUES (@SoPhieu, @LoaiPhieu, GETDATE(), @NguoiLap, @BoPhanID, @NhanVienID, @GhiChu);
            
            SET @PhieuID = SCOPE_IDENTITY();
        END

        -- 5. Thêm vào bảng Chi Tiết Giao Dịch
        INSERT INTO ChiTietGiaoDich (PhieuID, MaHang, SoLuong, DonGia, GhiChuDong)
        VALUES (@PhieuID, @MaHang, @SoLuong, @DonGiaXuat, N'Xuất kho');

        -- 6. Trừ số lượng tồn trong bảng TonKhoHienTai
        UPDATE TonKhoHienTai
        SET SoLuongTon = SoLuongTon - @SoLuong,
            NgayCapNhatCuoi = GETDATE()
        WHERE MaHang = @MaHang;

        -- 7. Ghi nhận số tồn mới sau khi trừ
        DECLARE @TonSauBienDong DECIMAL(18,2);
        SELECT @TonSauBienDong = SoLuongTon FROM TonKhoHienTai WHERE MaHang = @MaHang;

        -- 8. Ghi log vào bảng LichSuBienDong
        INSERT INTO LichSuBienDong (MaHang, PhieuID, LoaiBienDong, SoLuongThayDoi, TonKhoSauBienDong, NgayGio)
        VALUES (@MaHang, @PhieuID, 'GIAM', @SoLuong, @TonSauBienDong, GETDATE());

        COMMIT TRANSACTION;
        PRINT N'Tạo phiếu xuất và trừ tồn kho thành công!';
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoPhieuXuatKhoToanBo]    Script Date: 22/09/2026 08:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cập nhật SP xuất kho: đảm bảo có dòng tồn + xác nhận đã trừ kho
CREATE   PROCEDURE [dbo].[sp_TaoPhieuXuatKhoToanBo]
    @SoPhieu VARCHAR(50),
    @LoaiPhieu VARCHAR(20),
    @NguoiLap NVARCHAR(100),
    @MaBoPhan VARCHAR(50) = NULL,
    @MaNV VARCHAR(50) = NULL,
    @GhiChu NVARCHAR(500),
    @DanhSachHangJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdPhieuInserted INT;
    DECLARE @BoPhanID INT = NULL;
    DECLARE @NhanVienID INT = NULL;
    DECLARE @ChucDanhNhanVien NVARCHAR(100) = NULL;
    DECLARE @VatTuViPham NVARCHAR(200);
    DECLARE @VatTuHetHang NVARCHAR(200);
    DECLARE @MaHangLoi VARCHAR(50);
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @LineCount INT;
    DECLARE @LedgerCount INT;

    DECLARE @DongHangXuat TABLE (
        MaHang VARCHAR(50),
        SoLuong DECIMAL(18,2)
    );

    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO @DongHangXuat (MaHang, SoLuong)
        SELECT MaHang, SoLuong
        FROM OPENJSON(@DanhSachHangJson)
        WITH (
            MaHang VARCHAR(50) '$.MaHang',
            SoLuong DECIMAL(18,2) '$.SoLuong'
        );

        SET @LineCount = (SELECT COUNT(*) FROM @DongHangXuat);

        IF @MaBoPhan IS NOT NULL
            SELECT @BoPhanID = ID FROM DanhMucBoPhan WHERE MaBoPhan = @MaBoPhan;

        IF @MaNV IS NOT NULL
            SELECT @NhanVienID = ID, @ChucDanhNhanVien = ChucDanh
            FROM DanhMucNhanVien
            WHERE MaNV = @MaNV;

        IF EXISTS (SELECT 1 FROM @DongHangXuat WHERE SoLuong <= 0)
            RAISERROR(N'Số lượng xuất của tất cả mặt hàng phải lớn hơn 0!', 16, 1);

        IF EXISTS (
            SELECT 1 FROM @DongHangXuat d
            LEFT JOIN DanhMucVatTu v ON d.MaHang = v.MaHang
            WHERE v.MaHang IS NULL
        )
        BEGIN
            SELECT TOP 1 @MaHangLoi = d.MaHang
            FROM @DongHangXuat d
            LEFT JOIN DanhMucVatTu v ON d.MaHang = v.MaHang
            WHERE v.MaHang IS NULL;
            RAISERROR(N'Mã hàng [%s] không tồn tại trong danh mục hệ thống!', 16, 1, @MaHangLoi);
        END

        IF @LoaiPhieu = 'XUAT_CN'
        BEGIN
            IF @NhanVienID IS NULL
                RAISERROR(N'Phiếu xuất cá nhân cần mã nhân viên hợp lệ.', 16, 1);

            IF EXISTS (
                SELECT 1
                FROM @DongHangXuat src
                INNER JOIN DinhMucCapPhat dm ON dm.ChucDanh = @ChucDanhNhanVien AND dm.MaHang = src.MaHang
                OUTER APPLY (
                    SELECT
                        CASE
                            WHEN ISNULL(SUM(CASE WHEN p.LoaiPhieu = 'XUAT_CN' THEN ct.SoLuong ELSE 0 END), 0)
                               - ISNULL(SUM(CASE WHEN p.LoaiPhieu = 'THU_HOI' THEN ct.SoLuong ELSE 0 END), 0) < 0 THEN 0
                            ELSE ISNULL(SUM(CASE WHEN p.LoaiPhieu = 'XUAT_CN' THEN ct.SoLuong ELSE 0 END), 0)
                               - ISNULL(SUM(CASE WHEN p.LoaiPhieu = 'THU_HOI' THEN ct.SoLuong ELSE 0 END), 0)
                        END AS DaDungThucTe
                    FROM ChiTietGiaoDich ct
                    INNER JOIN PhieuGiaoDich p ON ct.PhieuID = p.ID
                    WHERE p.NhanVienNhanID = @NhanVienID
                      AND ct.MaHang = src.MaHang
                      AND MONTH(p.NgayLap) = MONTH(GETDATE())
                      AND YEAR(p.NgayLap) = YEAR(GETDATE())
                ) current_month
                WHERE (ISNULL(current_month.DaDungThucTe, 0) + src.SoLuong) > dm.SoLuongToiDa
            )
            BEGIN
                SELECT TOP 1 @VatTuViPham = v.TenSanPham
                FROM @DongHangXuat src
                INNER JOIN DinhMucCapPhat dm ON dm.ChucDanh = @ChucDanhNhanVien AND dm.MaHang = src.MaHang
                INNER JOIN DanhMucVatTu v ON src.MaHang = v.MaHang
                OUTER APPLY (
                    SELECT
                        CASE
                            WHEN ISNULL(SUM(CASE WHEN p.LoaiPhieu = 'XUAT_CN' THEN ct.SoLuong ELSE 0 END), 0)
                               - ISNULL(SUM(CASE WHEN p.LoaiPhieu = 'THU_HOI' THEN ct.SoLuong ELSE 0 END), 0) < 0 THEN 0
                            ELSE ISNULL(SUM(CASE WHEN p.LoaiPhieu = 'XUAT_CN' THEN ct.SoLuong ELSE 0 END), 0)
                               - ISNULL(SUM(CASE WHEN p.LoaiPhieu = 'THU_HOI' THEN ct.SoLuong ELSE 0 END), 0)
                        END AS DaDungThucTe
                    FROM ChiTietGiaoDich ct
                    INNER JOIN PhieuGiaoDich p ON ct.PhieuID = p.ID
                    WHERE p.NhanVienNhanID = @NhanVienID
                      AND ct.MaHang = src.MaHang
                      AND MONTH(p.NgayLap) = MONTH(GETDATE())
                      AND YEAR(p.NgayLap) = YEAR(GETDATE())
                ) current_month
                WHERE (ISNULL(current_month.DaDungThucTe, 0) + src.SoLuong) > dm.SoLuongToiDa;

                RAISERROR(
                    N'Chặn cấp phát! Vật tư [%s] vượt quá định mức ròng còn lại trong tháng (đã trừ lượng thu hồi).',
                    16, 1, @VatTuViPham
                );
            END
        END

        INSERT INTO TonKhoHienTai (MaHang, SoLuongTon, NgayCapNhatCuoi)
        SELECT src.MaHang, 0, GETDATE()
        FROM @DongHangXuat src
        WHERE NOT EXISTS (SELECT 1 FROM TonKhoHienTai tk WHERE tk.MaHang = src.MaHang);

        IF EXISTS (
            SELECT 1 FROM @DongHangXuat src
            INNER JOIN TonKhoHienTai tk ON src.MaHang = tk.MaHang
            WHERE src.SoLuong > tk.SoLuongTon
        )
        BEGIN
            SELECT TOP 1 @VatTuHetHang = v.TenSanPham
            FROM @DongHangXuat src
            INNER JOIN TonKhoHienTai tk ON src.MaHang = tk.MaHang
            INNER JOIN DanhMucVatTu v ON src.MaHang = v.MaHang
            WHERE src.SoLuong > tk.SoLuongTon;
            RAISERROR(N'Không đủ tồn kho để xuất! Mặt hàng [%s] không đủ số lượng trong kho tổng.', 16, 1, @VatTuHetHang);
        END

        INSERT INTO PhieuGiaoDich (SoPhieu, LoaiPhieu, NgayLap, NguoiLap, BoPhanNhanID, NhanVienNhanID, GhiChu)
        VALUES (@SoPhieu, @LoaiPhieu, GETDATE(), @NguoiLap, @BoPhanID, @NhanVienID, @GhiChu);

        SET @IdPhieuInserted = SCOPE_IDENTITY();

        INSERT INTO ChiTietGiaoDich (PhieuID, MaHang, SoLuong, DonGia, GhiChuDong)
        SELECT @IdPhieuInserted, src.MaHang, src.SoLuong, v.DonGia, N'Xuất kho cấp phát vật tư'
        FROM @DongHangXuat src
        INNER JOIN DanhMucVatTu v ON src.MaHang = v.MaHang;

        UPDATE tk
        SET tk.SoLuongTon = tk.SoLuongTon - src.SoLuong,
            tk.NgayCapNhatCuoi = GETDATE()
        FROM TonKhoHienTai tk
        INNER JOIN @DongHangXuat src ON tk.MaHang = src.MaHang;

        INSERT INTO LichSuBienDong (MaHang, PhieuID, LoaiBienDong, SoLuongThayDoi, TonKhoSauBienDong, NgayGio)
        SELECT xh.MaHang, @IdPhieuInserted, 'GIAM', xh.SoLuong, tk.SoLuongTon, GETDATE()
        FROM @DongHangXuat xh
        INNER JOIN TonKhoHienTai tk ON xh.MaHang = tk.MaHang;

        SET @LedgerCount = (
            SELECT COUNT(*)
            FROM LichSuBienDong
            WHERE PhieuID = @IdPhieuInserted AND LoaiBienDong = 'GIAM'
        );

        IF @LedgerCount <> @LineCount
            RAISERROR(N'Lỗi trừ tồn kho — chưa ghi đủ biến động xuất.', 16, 1);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SET @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
USE [master]
GO
